services:
  notion2wp:
    image: ghcr.io/ramen4598/notion2wordpress:${N2W_VERSION:-latest}
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      # Persistent SQLite database
      - ./data:/app/data
    environment:
      - NODE_ENV=production
